In [15]:
class Employee:
    id = 0
    
    def __init__(self, name, age, address, email, designation, salary):
        self.name = name
        self.age = age
        self.address = address
        self.email = email
        self.designation = designation
        self.salary = salary
        Employee.id += 1
    
        
    def insert(self):
        db = pymysql.connect("localhost","root","","employee")
        cursor = db.cursor()
        insert_query = "INSERT INTO employee(name, age, address, email, designation, salary) VALUES('" + self.name +"', "+ str(self.age)+", '"+ self.address+"', '"+ self.email+"', '"+ self.designation+"', "+ str(self.salary)+")"        
        cursor.execute(insert_query)
        db.commit()
        db.close()
        print(insert_query)
        




        
    
import pymysql
db_name = ""
def create_database():
    db = pymysql.connect("localhost","root","")
    cursor = db.cursor()
    global db_name
    db_name = input("Please enter the database name")
    create_db = "CREATE DATABASE " + db_name
    cursor.execute(create_db)
    select_db = "USE " + db_name
    cursor.execute(select_db)
    db.close()
db_name
def create_table():
    db = pymysql.connect("localhost","root","",db_name)
    cursor = db.cursor()
    create_table = """CREATE TABLE employee (
                    id INT(2) NOT NULL AUTO_INCREMENT PRIMARY KEY,
                    name VARCHAR(255) NOT NULL,
                    age INT(3) NOT NULL,
                    address VARCHAR(255) NOT NULL,
                    email VARCHAR(255),
                    designation VARCHAR(255) NOT NULL,
                    salary INT(10))"""
    cursor.execute(create_table)
    db.close()
    
def read_data():
    for i in range(1):
        name = input("Please enter your name")
        age = int(input("Please enter your age"))
        address = input("Please enter your address")
        email = input("Please enter your email")
        designation = input("Please enter your designation")
        salary = int(input("Please enter your salary"))
        e = Employee(name,age,address,email,designation,salary)
        e.insert()
        print("\n Data Inserted Successfully")
        
        
def viewall():
    db = pymysql.connect("localhost","root","","employee")
    cursor = db.cursor()
    query  = "SELECT * FROM employee"
    try:
        cursor.execute(query)
        results = cursor.fetchall()
        print("ID\tName\tAge\tAddress\tEmail\tDesignation\t Salary")
        for r in results:
            id = r[0]
            name = r[1]
            age= r[2]
            address= r[3]
            email = r[4]
            designation = r[5]
            salary = r[6]
            print(id,"\t",name,"\t",age,"\t",address,"\t",email,"\t",designation,"\t",salary)
    except:
        print("Unable to fetch data from the database")
    db.close()
    
def delete():
    id = int(input("Please enter the id of the employee which you want to delete !"))
    db = pymysql.connect("localhost","root","","employee")
    cursor = db.cursor()
    query  = "DELETE FROM employee WHERE id = '" + str(id) +"'"
    try:
        cursor.execute(query)
        db.commit()
    except:
        print("Unable to fetch data from the database")
    db.close()
    

    
    
    
#create_database()
#create_table()
#read_data()
viewall()
delete()
viewall()

ID	Name	Age	Address	Email	Designation	 Salary
1 	 +self.name+ 	 0 	  +
        self.address+  	  + self.email +  	  + self.designation +  	 0
2 	 +self.name+ 	 0 	  +
        self.address+  	  + self.email +  	  + self.designation +  	 0
3 	 raj 	 23 	 dfd 	 dfd 	 dfd 	 34
Please enter the id of the employee which you want to delete !1
ID	Name	Age	Address	Email	Designation	 Salary
2 	 +self.name+ 	 0 	  +
        self.address+  	  + self.email +  	  + self.designation +  	 0
3 	 raj 	 23 	 dfd 	 dfd 	 dfd 	 34

In [31]:
a = 12
b = '13'
str(a) + b
"str(a)",b

('str(a)', '13')