# List Comprehension

In [1]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[x*x for x in range(16)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [ ]:
[x for x in range(21) if x%2==0]

In [ ]:
[x for x in range(100) if x%10==0]

In [ ]:
[2**x for x in range(11)]

## Generating Pythogoras Triads

In [ ]:
[(x,y,z) for x in range(1,30) for y in range(x,30) 
for z in range(y,30) if x**2 + y**2 == z**2]

## A working on Marriage Bureau

In [ ]:
boys = ['Ram','Shyam','Hari','Krishna']
girls = ['Sita','Rita','Laxmi','Sushma']
[(b,g) for b in boys for g in girls]

In [3]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
for i in stuff:
    print(i)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
['THE', 'the', 3]
['QUICK', 'quick', 5]
['BROWN', 'brown', 5]
['FOX', 'fox', 3]
['JUMPS', 'jumps', 5]
['OVER', 'over', 4]
['THE', 'the', 3]
['LAZY', 'lazy', 4]
['DOG', 'dog', 3]

# Set Comprehension

In [ ]:
{x for x in range(11)}

In [ ]:
names = [ 'Bob', 'JOHN', 'alice', 'bob', 'ALICE', 'J', 'Bob' ]

We require the set:

{ 'Bob', 'John', 'Alice' }

???

In [ ]:
{ name[0].upper() + name[1:].lower() for name in names if len(name) > 1 }

In [4]:
{x for x in range(2, 101) 
if not any(x % y == 0 for y in range(2, x))}

{2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97}