#####  A set is an unordered collection with no duplicate elements.

##### Curly braces or the set() function can be used to create sets.

In [1]:
students = {'Ram','Sita', 'Hari', 'Shyam', 'Shreya', 'Ram'}

In [2]:
a = set(students)

In [3]:
a

{'Hari', 'Ram', 'Shreya', 'Shyam', 'Sita'}

In [5]:
'Ram' in a

True

In [6]:
x = [1,2,3,4,5]

In [7]:
c = set(x)

In [8]:
c

{1, 2, 3, 4, 5}

In [9]:
y = [2,3,6,8,9]

In [10]:
d = set(y)

## Union of two sets

In [11]:
c | d

{1, 2, 3, 4, 5, 6, 8, 9}

## Intersection of two sets

In [12]:
c & d

{2, 3}

## Difference in Sets

In [13]:
c - d

{1, 4, 5}

In [14]:
d - c

{6, 8, 9}

## Subsets

In [15]:
c < d

False

In [16]:
d < c

False

In [17]:
f = c | d

In [18]:
c < f

True

In [19]:
dir(c)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [20]:
c.add(100)

In [21]:
c

{1, 2, 3, 4, 5, 100}

In [22]:
c.pop()

1

In [23]:
c

{2, 3, 4, 5, 100}

In [25]:
c.remove(100)

In [26]:
c

{2, 3, 4, 5}

In [28]:
c.update(d)

In [29]:
c

{2, 3, 4, 5, 6, 8, 9}

In [30]:
c.issuperset(d)

True

In [31]:
c.intersection(d)

{2, 3, 6, 8, 9}

Looping techniques for Collectiions

In [32]:
for i, v in enumerate(['Ram','Shyam','Hari']):
    print(i,v)

0 Ram
1 Shyam
2 Hari

In [33]:
a = ('*')
for i in range(1,5):
    print(a*i)

*
**
***
****

To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [ ]:
countries = ['Nepal', 'India', 'China', 'Bhutan']
capitals = ['Kathmandu', 'Delhi', 'Beijing', 'Thimpu']

In [ ]:
for a, b in zip(countries, capitals):
    print(a + " - " + b)

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.

In [ ]:
for i in reversed(range(0,10,2)):
    print(i)

To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

In [ ]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [ ]:
movies =  {'chakka panja': 'by deepa', 'loot': 'by nischal'}
for k, v in movies.items():
    print(k, v)