# Tuples

A tuple is a sequence of immutable Python objects.

Tuples are sequences, just like lists.

 The differences between tuples and lists are, the tuples cannot be changed unlike lists.

Tuples use parentheses, whereas lists use square brackets.

In [1]:
tuple1 = ('jug','mug', 'plate', 1, 3, 5)

In [2]:
tuple1

('jug', 'mug', 'plate', 1, 3, 5)

In [5]:
tuple2 = ('Hari')

In [9]:
tuple2

'Hari'

In [10]:
tuple1[3]

1

In [11]:
for x in tuple1:
    print(x)

jug
mug
plate
1
3
5

In [8]:
tuple2[1] = 'Shyam'

TypeError: 'str' object does not support item assignment

In [13]:
dir(tuple1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [15]:
tuple1.count('1')

0

In [16]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

In [19]:
len(tuple1)

6

It is also possible to create a tuple without parentheses, by using commas:

In [21]:
l = 1, 2
l

(1, 2)

If you want to create a tuple with a single element, you must use the comma:

In [22]:
singleton = (1, )

In [23]:
singleton

(1,)

You can repeat a tuples by multiplying a tuple by a number:

In [24]:
(1,) * 5

(1, 1, 1, 1, 1)

Note that you can concatenate tuples and use augmented assignement (*=, +=):

In [25]:
s1 = (1,0)
s1 += (1,)
s1

(1, 0, 1)

Tuples are useful because there are

        faster than lists
        protect the data, which is immutable
        tuples can be used as keys on dictionaries

Tuples as key/value pairs to build dictionaries

In [26]:
d = dict([('jan', 1), ('feb', 2), ('march', 3)])

In [28]:
d['jan']

1

Tuple Unpacking

In [30]:
data  = (1,2,3)
x, y, z = data

In [31]:
y

2

Tuple can be use as swap function

In [34]:
def swap(x,y):
    (y,x) = (x,y)
    
a = 2
b = 3
swap(2,3)

In [35]:
a

2

In [33]:
y

2