In [9]:


import pymysql
db = pymysql.connect("localhost","root","")
try:
    cursor = db.cursor()
    query = "CREATE DATABASE himalaya"
    cursor.execute(query)
    db.commit()
    print("Database created successfully")
except:
    print("Error creating database")
db.close()

Database created successfully

In [8]:
db = pymysql.connect("localhost","root","")
try:
    cursor = db.cursor()
    query = "DROP DATABASE himalaya"
    cursor.execute(query)
    db.commit()
    print("Database deleted successfully")
except:
    print("Error deleting database")
db.close()

Error deleting database

In [10]:
db = pymysql.connect("localhost","root","","himalaya")
try:
    cursor = db.cursor()
    query = """CREATE TABLE student(
            id INT(4) NOT NULL AUTO_INCREMENT PRIMARY KEY,
            name VARCHAR(255) NOT NULL,
            age INT(3) NOT NULL,
            address VARCHAR(255) NOT NULL,
            email VARCHAR(255) NOT NULL,
            phone VARCHAR(10) NOT NULL,
            faculty VARCHAR(3) NOT NULL
            )"""
    cursor.execute(query)
    db.commit()
    print("Table has successfully been created !!")
except:
    db.rollback()
    print("Error creating table")
db.close()

Table has successfully been created !!

In [ ]:
class Student:
    id = 0
    
    def __init__(self, name, age, address, email, phone, faculty):
        self.name = name
        self.age = age
        self.address = address
        self.email = email
        self.phone = phone
        self.faculty = faculty
        Student.id += 1
        
    def insert(self):
        db = pymysql.connect("localhost","root","","himalaya")
        try:
            cursor = db.cursor()
            query = "INSERT INTO student(name,age,address,email,phone,faculty) VALUES('"+self.name + "'," + str(self.age) + ",'" + self.address + "','" + self.email + "'," + str(self.phone) + ",'" + self.faculty +"')"        
            cursor.execute(query)
            db.commit()
            print(query)
            print("Data has been inserted correctly !!")
        except:
            db.rollback()
            print("Error inserting data !")
        db.close()
            
def read_data():
    for i in range(5):
        name = input("Please enter your name !")
        age = int(input("Please enter your age !"))
        address = input("Please enter your address !")
        email = input("Please enter your email !")
        phone = int(input("Please enter your phone !"))
        faculty = input("Please enter your faculty !")
        s = Student(name, age, address, email, phone, faculty)
        s.insert()
        
def view_data():
    db = pymysql.connect("localhost","root","","himalaya")
    try:
        cursor = db.cursor()
        query = "SELECT * FROM student"
        cursor.execute(query)
        results = cursor.fetchall()
        print("Id\tName\tAge\tAddress\tEmail\t\t\t\tPhone\t\tFaculty")
        for r in results:
            id = r[0]
            name = r[1]
            age = r[2]
            address = r[3]
            email = r[4]
            phone = r[5]
            faculty = r[6]
            print(str(id)+"\t"+name+"\t"+str(age)+"\t"+address+"\t"+email+"\t"+phone+"\t"+faculty)
        print("Data fetched successfully !!")
    except:
        print("Error fetching data !!")
    
        
        
    
    
    
read_data()
#view_data()

Please enter your name !rajan
Please enter your age !23
Please enter your address !butwal
Please enter your email !rajang
Please enter your phone !9840060070
Please enter your faculty !BEX
INSERT INTO student(name,age,address,email,phone,faculty) VALUES('rajan',23,'butwal','rajang',9840060070,'BEX')
Data has been inserted correctly !!
Please enter your name !sdsw
Please enter your age !2
Please enter your address !sds
Please enter your email !dsd
Please enter your phone !23
Please enter your faculty !asa
INSERT INTO student(name,age,address,email,phone,faculty) VALUES('sdsw',2,'sds','dsd',23,'asa')
Data has been inserted correctly !!
Please enter your name !dsd
Please enter your age !2
Please enter your address !ds
Please enter your email !23fs
Please enter your phone !23
Please enter your faculty !dff
INSERT INTO student(name,age,address,email,phone,faculty) VALUES('dsd',2,'ds','23fs',23,'dff')
Data has been inserted correctly !!
Please enter your name !dss
Please enter your age !34
Please enter your address !fdfd